[build-system]
requires = ["poetry-core>=1.5.2", "poetry-dynamic-versioning>=0.21.4"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry-dynamic-versioning]
enable = true
style = "pep440"

[tool.poetry]
name = "jijmodeling-transpiler-quantum"
version = "0.0.0" # using poetry-dynamic-versioning
description = ""
authors = ["Jij Inc. <info@j-ij.com>"]
readme = "README.md"
packages = [
    {include = "jijmodeling_transpiler_quantum"},
]

[tool.poetry.dependencies]
python = ">=3.9.8,<3.11"
jijmodeling-transpiler = ">=0.6.0rc3"
qiskit = {version = ">=0.44.0", extras = ["qiskit"]}
quri-parts-qulacs = {version = "*", extras = ["quri-parts"]}


[tool.poetry.group.dev.dependencies]
jupyter = "^1.0.0"
matplotlib = "^3.7.1"
pylatexenc = "^2.10"
pytest = "^7.3.2"

[tool.poetry.extras]
qiskit = ["qiskit"]
quri-parts = ["quri-part"]


[tool.pytest.ini_options]
addopts = "--doctest-modules"
