name: Python Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  Python-Test:
    if: ${{ !contains(github.head_ref, 'dependabot/github_actions') }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.10' ]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'
      - name: Poetry Install
        shell: bash
        run:  |
          set -eux
          poetry install
      - name: Test
        shell: bash
        run: |
          set -eux
          poetry run pytest
